*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}
.title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
html{
    font-family: 'helvetica', sans-serif;
}

h1{
    font-size: 40px
}
h3{
    font-size: 26px;
}
p{
    font-size: 20px;
}
.blue{
    color: #1f98ff;
}

.bold{
    font-weight: 500;
}


.right{
    float: right;
}




.imageSection{
    width: 100%;
}
.imageSectionWrapper{
    width: 85%;
    margin: auto;
    display: block;
    height: 800px;
    background-image: url(images/orb_farm.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.blogPostInfo{
    position: absolute;
    bottom: 0;
}

.imageSectionWrapper h1{
    color: white;
    background-color: #1c2329;
    width: 680px;
    text-align: center;
    padding: 0.25em;
    opacity: 0.97;
    border-radius: 2px;
    margin: 0 0 20px -60px;
}

.info{
    color: white;
    background-color: #1c2329;
    width: 680px;
    opacity: 0.97;
    border-radius: 2px;
    margin: 0 0 40px -30px;
    padding: 0.25em 0.25em 0.25em 3em;
}

.info p{
    margin: 15px 0;
}

.content{
    width: 100%;
}
.contentWrapper{
    width: 80%;
    margin: auto;
    display: flex;
}
.mainContent{
    flex: 3;
}


.mainContent p{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #65747e;
    line-height: 40px;
}
.mainContent h1{
    margin-top: 75px;
}
.mainContent h3{
    margin-top: 75px;
}

.mainContent img{
    width: 90%
}

